

<div id="tab-Subject" class="form-row tabs-section mb-2">
    <div class="tabs-section-nav">
        <ul class="nav ScheduleTab1" role="tablist">
            {{#Subjects}}
            <li class="nav-item">
                <a class="nav-link" href="#" data-val="{{RowKey}}" role="tab" data-toggle="tab">
                    <span class="nav-link-in">
                        {{Text}}
                    </span>
                </a>
            </li>
            {{/Subjects}}

        </ul>
    </div>
</div>

