<table border="0" style="width: 100%;">
<tbody>
<tr style="background: #0088c1;">
<td><img src="http://proyasis.com/images/Proyasis_Logo.png" style="width: auto; height: 94px;" /></td>
</tr>
<tr height="500">
<td style="text-align: center;">
<h1 style="text-align: center;"><span style="font-size: xx-large;"><em><span style="font-family: 'book antiqua', palatino;"><strong>Welcome</strong>&nbsp;</span></em></span></h1>
<p style="text-align: center;"><span><strong>Hi&nbsp;<span><label contenteditable="false">{{StudentName}}</label></span></strong></span></p>
<p style="text-align: center;"><span><strong>Congratulations! Your registration is confirmed!</strong></span></p>
<p style="text-align: center;"><span><strong>You've successfully completed registration for {{CourseName}} Your registration is confirmed.<span><label contenteditable="false">{{CompanyName}}</label></span>&nbsp;in<span>&nbsp;<span><label contenteditable="false">{{BranchName}}</label>&nbsp;</span></span></strong></span></p>
</td>
</tr>
<tr style="background: #0088c1;">
<td style="text-align: center;">
<p><span style="color: #ffffff;"><label contenteditable="false">{{CompanyName}}</label></span></p>
<p><span style="color: #ffffff;"><label contenteditable="false">{{AddressLine1}}</label>&nbsp;</span></p>
<p><span style="color: #ffffff;"><label contenteditable="false">{{CityName}}</label>&nbsp;<label contenteditable="false">{{PostalCode}}</label></span></p>
<p><span style="color: #ffffff;"><label contenteditable="false">{{phoneNumber1}}</label>&nbsp;<label contenteditable="false">{{Phone2}}</label></span></p>
</td>
</tr>
</tbody>
</table>
