<div class="text-center"><img src="http://proyasis.com/images/Proyasis_Logo.png" style="width: auto; height: 94px;" />
<h4 style="margin: 5px 0px;"></h4>
<p>Dear <strong>{{StudentName}} {{AdmissionNo}}</strong></p>
<p>You are absent in Collage on <strong>{{AttendanceDate}}</strong> and has returned to school without an absence note as required by law: <br /> Doctors note (If absence is 5 consecutive days or more) or a note from the parent/guardian explaining the lawful reason for absence</p>
<p>Regards,</p>
<p>Principal</p>
</div>