<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<connectionStrings>

		<!--Local-->
		<!--<add name="EduSuiteDatabase" connectionString="metadata=res://*/CITSEduSuiteDataModel.csdl|res://*/CITSEduSuiteDataModel.ssdl|res://*/CITSEduSuiteDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KHALEEFA-VM\\PROYASIS2019;initial catalog=EduSuiteMVC_Ver1;persist security info=True; Integrated Security=SSPI;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--Local Server 2019-->
		<!--<add name="EduSuiteDatabase" connectionString="metadata=res://*/CITSEduSuiteDataModel.csdl|res://*/CITSEduSuiteDataModel.ssdl|res://*/CITSEduSuiteDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3L5R9M5;initial catalog=db_a8fd4a_ctsmvcedu_live_new;persist security info=True;user id=sa;password=proyasis123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--<add name="EduSuiteDatabase" connectionString="metadata=res://*/CITSEduSuiteDataModel.csdl|res://*/CITSEduSuiteDataModel.ssdl|res://*/CITSEduSuiteDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APARNA\CITSMSSQLSERVER;initial catalog=db_a6b40d_mvcaviator;persist security info=True;user id=sa;password=star;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     add name="EduSuiteDatabase" connectionString="metadata=res://*/CITSEduSuiteDataModel.csdl|res://*/CITSEduSuiteDataModel.ssdl|res://*/CITSEduSuiteDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql8010.site4now.net;initial catalog=db_a6b40d_mvcaviator;persist security info=True;user id=db_a6b40d_mvcaviator_admin;password=mvc@aviator25;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<add name="EduSuiteDatabase" connectionString="metadata=res://*/CITSEduSuiteDataModel.csdl|res://*/CITSEduSuiteDataModel.ssdl|res://*/CITSEduSuiteDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APARNA\CITSMSSQLSERVER;initial catalog=db_a6b40d_mvcaviator;persist security info=True;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />


	</connectionStrings>
	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="AdoNetAppender" />
		</root>
		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1" />
			<connectionType value="System.Data.SqlClient.SqlConnection,                                      System.Data,                                       Version=4.0.0.0,                                       Culture=neutral,                                       PublicKeyToken=b77a5c561934e089" />
			<commandText value="INSERT INTO dbo.ActivityLog ([Date],[Thread],[Level],[Logger],[Message],[Exception],[AppUserKey],[MenuCode],[ActionCode],[HostName],[RowKey]) VALUES (@log_date, @thread, @log_level,                           @logger, @message, @exception,@appuserkey,@menucode,@actioncode,@hostname,@rowkey)" />
			<parameter>
				<parameterName value="@log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="@thread" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_level" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@logger" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@message" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@exception" />
				<dbType value="String" />
				<size value="2000" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
			<parameter>
				<parameterName value="@appuserkey" />
				<dbType value="Int32" />
				<size value="32" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{appuserkey}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@hostname" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{log4net:HostName}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@menucode" />
				<dbType value="String" />
				<size value="5" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{menucode}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@actioncode" />
				<dbType value="String" />
				<size value="5" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{actioncode}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@rowkey" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{rowkey}" />
				</layout>
			</parameter>
		</appender>
	</log4net>
	<appSettings>
		<add key="owin:AutomaticAppStartup" value="true" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="SecurityKey" value="EmlDkS7ZSVJsr2rW6RzP5uPApxpy2ufO" />
		<add key="ActivaKey" value="zGcWK6FA/mhZjcA4d73IEgK1FDH2tDNE9c5b4VGAmQg=" />
		<add key="aspnet:MaxJsonDeserializerMembers" value="2000000" />
		<add key="aspnet:MaxHttpCollectionKeys" value="2000000" />
		<add key="TimeZone" value="India Standard Time" />
		<add key="DateValidationBefore" value="3" />
		<add key="FileSizeKB" value="2048" />
		<add key="PagingRowNum" value="10" />
		<add key="StudentClassRequired" value="true" />
		<!-- Start Email Configuration -->
		<!--<add key="EmailFrom" value="edusuitemail@gmail.com" />
    <add key="EmailTo" value="admin@citssolutions.com" />
    <add key="EmalSSLEnable" value="true" />
    <add key="EmailPassword" value="hBNRZ9jouuTn2mxG99fnUGKcyyDJMwvLvJqoFhkjg2U=" />
    <add key="EmailPort" value="587" />
    <add key="EmailSmtpClient" value="smtp.gmail.com" />-->
		<!-- Start Email Configuration -->
		<add key="EmailFrom" value="edusuitemail@gmail.com" />
		<add key="EmailTo" value="admin@ardossys.com" />
		<add key="EmalSSLEnable" value="true" />
		<add key="EmailPassword" value="crybuajtdclpltry" />
		<add key="EmailPort" value="587" />
		<add key="EmailSmtpClient" value="smtp.gmail.com" />
		<add key="EnableSMS" value="true" />
		<!-- End Email Configuration -->

		<add key="CBS" value="5" />
		<add key="SalaryYear" value="2015" />
		<add key="UTS" value="2Iea9QHbWQ6jKc4aP4UharfQaN/v4jpaLJhEUf5EfW4=" />
		<add key="Datezonetime" value="TDgP579zeO7vHiiWxs9Y/V4hgss8yDW+zwaBfBpuJDQ=" />

	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" maxRequestLength="51200" />
		<globalization uiCulture="en" culture="en-GB" />
		<authentication mode="Forms">
			<forms loginUrl="~/Login/Logout" timeout="43200" />
		</authentication>
		<customErrors mode="Off" />
		<trust level="Full" />
		<sessionState mode="InProc" timeout="60"/>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="52428800" />
			</requestFiltering>
		</security>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
</configuration>