<div class="col-xl-3 col-xxl-3 col-sm-6">
    <div class="widget-stat card bg-primary">
        <div class="card-body">
            <div class="media">
                <span class="mr-3">
                    <i class="la la-users"></i>
                </span>
                <div class="media-body text-white">
                    <p class="mb-1">Students</p>
                    <h3 class="text-white">{{TotalStudents}}</h3>
                    <div class="progress mb-2 bg-white">
                        <div class="progress-bar progress-animated bg-light" style="width: 80%"></div>
                    </div>
                    <small></small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-3 col-xxl-3 col-sm-6">
    <div class="widget-stat card bg-warning">
        <div class="card-body">
            <div class="media">
                <span class="mr-3">
                    <i class="la la-user"></i>
                </span>
                <div class="media-body text-white">
                    <p class="mb-1">On Going</p>
                    <h3 class="text-white">{{OnGoing}}</h3>
                    <div class="progress mb-2 bg-white">
                        <div class="progress-bar progress-animated bg-light" style="width: 50%"></div>
                    </div>
                    <small></small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-3 col-xxl-3 col-sm-6">
    <div class="widget-stat card bg-secondary">
        <div class="card-body">
            <div class="media">
                <span class="mr-3">
                    <i class="la la-graduation-cap"></i>
                </span>
                <div class="media-body text-white">
                    <p class="mb-1">Completed</p>
                    <h3 class="text-white">{{Completed}}</h3>
                    <div class="progress mb-2 bg-white">
                        <div class="progress-bar progress-animated bg-light" style="width: 76%"></div>
                    </div>
                    <small></small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-3 col-xxl-3 col-sm-6">
    <div class="widget-stat card bg-danger">
        <div class="card-body">
            <div class="media">
                <span class="mr-3">
                    <i class="la la-dollar"></i>
                </span>
                <div class="media-body text-white">
                    <p class="mb-1">Droped</p>
                    <h3 class="text-white">{{Droped}}</h3>
                    <div class="progress mb-2 bg-white">
                        <div class="progress-bar progress-animated bg-light" style="width: 30%"></div>
                    </div>
                    <small></small>
                </div>
            </div>
        </div>
    </div>
</div>
