<div id="printTC">
    <div id="studentTC" class="TC-container">
        <div style="width:1000px; height:auto; text-align:center">

            <div style="width:1000px; height:auto; padding:20px; text-align:center; border: 5px solid #787878">
                <div style="height: 158px;    width: 100%;">
                    <div style="float:left;width:12%">
                        
                        <img src="../../UploadFiles/Company/Logo/SN_College_logo.jpg"  style="height:132px"/>
                    </div>
                    <div style="float:left;width:80%">
                        <span style="font-size:30px; font-weight:bold;text-transform:uppercase">SREE NARAYANA COLLEGE, VATAKARA </span>
                        <br>
                        <p style="margin-bottom:0"><span style="font-size:18px">A Self-Financing College affiliated the University of Calicut and approved by Govt. of Kerala </span></p>
                        <p style="margin:0"><span style="font-size:18px">( GO,MS No. 194/2003/H.Edn TVM, dt. 29-07-2003-U.O.No.GAI/D3/4000/03.dt.13.8.03 ) </span></p>
                        <p style="margin:0"><span style="font-size:18px"> S.N.Hills, Keezhal,Vatakara,Kozhikode Dist. Pin:673105 </span></p>
                        <p style="margin:0"><span style="font-size:18px"> Ph:8078992816 E-mail:sncvatakara@gmail.com,sndpunionvatakar@gmail.com </span></p>

                    </div>
                   
                </div>
                <div>
                    <p style="border-top: solid 2px;border-bottom: solid 2px">
                        <span style="font-size:21px;padding:7px;font-weight: bold">
                            Run by Vatakara S.N.D.P.Union Development and Welfare Socity.
                        </span>
                    </p>
                </div>
                <br /><br />
                <br />
                <div>
                    <span style="text-align: left;display: block;padding-left: 50px;font-weight: bold;float: left;">No.B/Misc/2020</span>
                    <span style="text-align: right;display: block;padding-right: 50px;font-weight:bold;">{{IssuedDate}}</span>
                </div>
                <br />
                <br />
                <span style="font-size:18px ;width:100%;display:block;text-align:center;margin-bottom:20px"><b>Certificate</b></span>

                
               


                <p style="text-indent: 397px;font-size: 24px;text-align: left;font-weight: 400;line-height: 39px;">
                    Certified that {{StudentName}} is a bonafied student of
                    this College studying in the {{CourseName}} course during this academic year {{AcedemicYearFrom}} - {{AcedemicYearTo}}
                </p>
                <p style="text-indent: 397px;font-size: 24px;text-align: left;font-weight: 400;line-height: 39px;margin-top: 45px;">
                    This certificate is issued to {{Gender}} for applying for a scholarchip and not valid for any other purpose.
                </p>

                <span style="font-size:18px;display:block;text-align:right;padding-right: 38px;margin-top: 140px;">Principal</span>
                <span style="font-size:18px;width: 100%;display:inline-block;text-align:left;margin-bottom:20px;padding-left: 30px;">To</span>
                <span style="font-size:18px;width: 100%;display:inline-block;text-align:left;margin-bottom:50px;padding-left: 30px;">{{StudentName}}</span>




            </div>
        </div>
    </div>
</div>

<style>
    body {
        font-family: system-ui;
    }

    .TC_Table {
        width: 100%;
        border-spacing: 0px 10px;
    }

        .TC_Table tr {
            line-height: 35px;
            font-size: 24px;
        }

        .TC_Table td {
            vertical-align: top;
            font-weight: 600;
        }

            .TC_Table td:nth-child(3) span {
                text-indent: 5px;
            }

        .TC_Table .ndColumn {
            width: 32%;
        }

        .TC_Table .rdColumn {
            border-bottom: dashed 1px;
        }

    .full-colon-before {
        display: inline-flex;
    }

        .full-colon-before:before {
            content: ':';
            margin: 0px 0px;
        }

    .TC_Table_tbl1 {
        width: 100%;
    }

    .width100 {
        width: 100%;
    }

    .width50 {
        width: 50%;
    }

    .width10 {
        width: 10%;
    }

    .text-alignL {
        text-align: left;
    }

    .dashed_order_btm {
        border-bottom: dashed 1px;
    }
</style>