table.BulkEmailSMS {
    margin-top: 6px;
    width:100%;
}
table.BulkEmailSMS tr th {
    /*width: 135px;*/
    text-align: center;
    background: #e2deec;
    padding: 5px 3px;
    font-size: 13px;
    border: solid #d6d1e6 2px !important;
}
table.BulkEmailSMS tr td {
    padding: 7px 0px;
    border: solid #dedbd5 1px;
    padding-left: 11px;
    font-size: 13px;
    background: white;
}

.btnBulkEmailSMS {
    margin-right: 5px;
    font-size: 13px;
    border-radius: 2px;
}

.dvRepeaterScroll {
      float: left;
    width: 100%;
    height: 186px;
    overflow: hidden;
    overflow-y: scroll;
    background: #e6e6e6;
    /* padding: 12px 30px; */
    border-radius: 3px;
    margin-left: -15px;
    padding-left: 15px;
}