/* Dashbord Type With arrow tabs - start*/

/*celender tiles*/
[cal-day-title]::after {
    content: attr(cal-day-title);
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 16px;
}


.with-arrow .nav-link.active {
    position: relative;
}

    .with-arrow .nav-link.active::after {
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #2b90d9;
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
    }

/* lined tabs */

.lined .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
}

    .lined .nav-link:hover {
        border: none;
        border-bottom: 3px solid transparent;
    }

    .lined .nav-link.active {
        background: none;
        color: #555;
        border-color: #2b90d9;
    }



body {
    background: #304352;
    background: -webkit-linear-gradient(to right, #304352, #d7d2cc);
    background: linear-gradient(to right, #304352, #d7d2cc);
    min-height: 100vh;
}

.nav-pills .nav-link {
    color: #555;
}

.text-uppercase {
    letter-spacing: 0.1em;
}
/* Dashbord Type With arrow tabs - End*/


/*Enquiry menu tab Styles start*/



.top-widget {
    background: #fff none repeat scroll 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 25px 20px;
    width: 100%;
}

    .top-widget > i {
        border: 1px solid #909090;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        text-align: center;
        vertical-align: middle;
        width: 50px;
        font-size: 18px;
    }

.informative {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    width: 72%;
}

    .informative > span {
        color: #1a1a1a;
        display: inline-block;
        font-size: 25px;
        font-weight: 300;
        width: 100%;
    }

    .informative > em {
        float: right;
        font-size: 12px;
        font-style: normal;
        text-transform: capitalize;
        width: 100%;
    }
/*Enquiry menu tab Styles End*/


/*Another tabs form enquiry*/


#enquiry .card {
    border-top: 4px solid #8CDDCD;
}

.card {
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.05);
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-bottom: 30px;
}

.card-block-big {
    padding: 2em;
}

.table-card .row-table {
    display: flex;
    align-items: center;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    margin: 0
}

    .table-card .row-table:first-child {
        border-bottom: 1px solid #ddd
    }

    .table-card .row-table .br {
        border-right: 1px solid #ccc
    }

    .table-card .row-table i {
        font-size: 28px
    }

    .table-card .row-table span {
        text-transform: uppercase;
        font-size: 13px
    }

    .table-card .row-table h5 {
        display: block;
        margin-bottom: .3em;
        margin-right: 0
    }

    .table-card .row-table > [class*=col-] {
        display: table-cell;
        float: none;
        table-layout: fixed;
        vertical-align: middle
    }

        .table-card .row-table > [class*=col-] .row {
            display: flex;
            align-items: center
        }

.widget-primary-card, .widget-success-card {
    border-top: none;
    background-color: #1abc9c;
    color: #fff
}

    .widget-primary-card .row-table > [class*=col-], .widget-success-card .row-table > [class*=col-] {
        display: inline-block;
        vertical-align: middle
    }

        .widget-primary-card .row-table > [class*=col-]:first-child, .widget-success-card .row-table > [class*=col-]:first-child {
            background-color: #148f77;
            text-align: center
        }

        .widget-primary-card .row-table > [class*=col-] .row, .widget-success-card .row-table > [class*=col-] .row {
            display: flex;
            align-items: center
        }

.widget-success-card {
    background-color: #2ecc71
}

    .widget-success-card .row-table > [class*=col-]:first-child {
        background-color: #25a25a
    }

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
}

.leadNew span {
    font-size: 10px !important;
}