.with-side-menu .page-content {
    padding-left: 0px;
}


@media (max-width: 967px) {


    .list-fields ul > li {
 
        margin-right: 75px !important;
    
    }
    .Headding1 {
        font-size: 13px;
    }

    div#dvExamInstructions {
        padding-left: 0px !important;
    }

        div#dvExamInstructions ol li {
            font-size: 12.2px;
        }

    .agreeText {
        font-size: 11px;
    }

    div#dvExamInstructions h3 {
        font-size: 16px;
    }

    .exam-paper {
        padding-left: 7px !important;
        margin-top: 7px;
    }

    .ExamReview {
        overflow: auto;
    }

    div#dvExamInstructions {
        padding-left: 4% !important;
    }

        div#dvExamInstructions ol li {
            font-size: 12px;
        }

    .ExamReview table tr td, .ExamReview table tr th {
        font-size: 9px;
    }

    #ExamReview a {
        font-size: 8px !important;
    }

    .ExamReview span {
        /*min-width: 34px;
     
        font-size: 17px;
        height: 34px;*/
    }

    div#dvExamInstructions ol li {
        width: 100% !important;
        font-size: 11px !important;
    }

    .site-header {
        height: 56px !important;
    }

    .page-content {
        padding: 57px 0 0 !important;
    }

    .site-header-content-in {
        margin-top: -10px;
    }

    .MenuBar ul {
        width: 550px;
    }

    .MenuBar {
        background: #164c6d;
        padding: 8px 16px;
        /*width: 550px;*/
        overflow: auto;
    }

    .ExamInstructions {
        max-width: 100% !important;
    }
}



@media (max-width: 550px)
{

    body {
        
        background: #2587ed;
    }
    .Headding1 {
        color: black;
    }

    .ExamReview table {
        width: 550px !important;
    }
    .Headding1 {
     
        font-size: 13px;
     
    }

    .list-fields ul > li > span.list-box span {
      
        font-size: 24px;
    }

    .examPersonDetails {
      
        font-size: 10px !important;
     
    }

    .examButtons button {
        width: 46%;
        font-size: 9px !important;
    }

   
   

}


@media (max-width: 400px) {
    .Headding1 {
        font-size: 10px;
    }
    .list-fields ul > li {
        display: block !important;
    }
}