<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="text-center">
        <img src="http://edusuite.jobtrack.co.in/Images/jobtrackLogo.png" />
        <h4 style="margin: 5px 0px;">
            JMT – PSC ‘19- JOBTRACK MERIT & SCHOLARSHIP EXAM
        </h4>
        
        <p>Dear <strong>{{ScholarShipName}}</strong></p>
        <p>You are enrolled Scholarship Exam .You can take hallticket</p>
        <a href="http://edusuite.jobtrack.co.in/ScholarshipExamSchedule/Hallticket/{{ScholarshipKey}}">Click Here</a>

    </div>
</body>
</html>
